.Beznis{
    max-width: 100%;
    background: #004050;
    /* margin-top: 120px; */
    
}
.beznis-inner{
    display: flex;
}
.text-b {
    padding-top: 120px;
}
.your{
    width: 700px;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
}
.text-b p{
    width: 570px;
    margin-top: 25px;
    font-weight: 500;
    font-size: 18px;
        
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.72;
}
.block-img-1{
    height: 468px;
    width: 800px;
    background: #FFE377;
    margin-left: 303px;
}
.Round{
    height: 383px;
    width: 650px;
    background-image: url('../../img/Beznis/Shape\ \(4\).png');
    background-repeat: no-repeat;
    margin-top: 85px;
    margin-left: -50px;
    padding: 160px;
}
.Round button{
    height: 64px;
    width: 198px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
}
.Round p{
    margin-top: 25px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

@media screen and (max-width: 1050px) {

    .beznis-inner{
        display: block;
    }
    .block-img-1{
        height: 468px;
        width: 600px;
        margin-left: 0px;
        overflow: hidden;
    }
    .Round{
        margin-top: 85px;
        margin-left: -50px;
    }
}

@media screen and (max-width: 800px) {
    .your{
        width: 400px;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
    }
    .text-b p{
        width: 300px;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;

    }

    .block-img-1{
        height: 468px;
        width: 500px;
        margin-left: 0px;
        overflow: hidden;
    }
    .Round{
        margin-top: 85px;
        margin-left: -120px;
        padding-left: 250px;
    }
}
/* ///////////////////////////////////////////////// */
@media screen and (max-width: 680px) {

    .block-img-1{
        height: 468px;
        width: 400px;
        margin-left: 0px;
        overflow: hidden;
    }
    .Round{
        margin-top: 85px;
        margin-left: -180px;
        padding-left: 250px;
    }
}

/* ///////////////////////////////////////////////// */
@media screen and (max-width: 580px) {
    .your{
        width: 300px;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
    }
    .text-b p{
        width: 300px;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;

    }
    .block-img-1{
        height: 468px;
        width: 350px;
        overflow: hidden;
    }
    .Round{
        width: 530px;
        margin-top: 85px;
        /* margin-left: -180px; */
        /* padding-left: 250px; */
    }
}

/* ///////////////////////////////////////////////// */
@media screen and (max-width: 580px) {
    .text-b{
        margin-left: -70px;
    }
    .block-img-1{
        height: 468px;
        width:506px;
        margin-left: -150px;
        overflow: hidden;
    }
    .Round{
        width: 636px;
        margin-top: 85px;

        height: 383px;
        background-image: url('../../img/Beznis/Shape\ \(4\).png');
        background-repeat: no-repeat;
        margin-left: -130px;
        /* padding: 160px; */
    }
}
@media screen and (max-width: 500px) {
    .block-img-1{
        height: 468px;
        width:406px;
        margin-left: -150px;
        overflow: hidden;
    }
    .Round{
        width: 536px;
        margin-top: 85px;

        height: 383px;
        background-image: url('../../img/Beznis/Shape\ \(4\).png');
        background-repeat: no-repeat;
        margin-left: -130px;
        /* padding: 160px; */
    }
    .Round p{
        width: 250px;
    }
}